@model List<ThriftStore.Models.Listing>

<h2>My Listings</h2>

<table class="table">
    <thead>
        <tr>
            <th>Listing ID</th>
            <th>Price</th>
            <th>Description</th>
            <th>Is Available</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var listing in Model)
        {
            <tr>
                <td>@listing.ListingID</td>
                <td>@listing.Price</td>
                <td>@listing.Description</td>
                <td>@(listing.IsAvailable ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <dd class="col-sm-10"><a asp-action="ListingCreate" asp-controller="Listing" asp-route-id="">Create a new Listing</a></dd>
</p>
