@model ThriftStore.Models.Listing

<h2>Create Listing</h2>

@* should take me to listing/ListingCreate *@
<a class="btn btn-primary" asp-controller="Listing" asp-action="ListingCreate">Create Listing</a>
